<%- include('partials/header') %> 
<%- include('partials/flash') %>

<div>
    
    <div id="details" class="w-50 mx-auto text-center">
        <h1>EDIT FORM</h1>
        <h3>Current Status</h3>
        <H5>Student ID        - <%= preference.studID %></H5>
        <h5>Preference number - <%= preference.Pnum %></h5>
        <h5>University ID     - <%= preference.univID %></h5>
        <h5>Course ID         - <%= preference.courseID %></h5>
        <a href="/showSeatMatrix" class="btn btn-outline-dark mt-3">Seat Matrix</a>
    </div>
    
    <div class="card my-4 border border-dark bg-light">
        <div class="card-body">
    
            <form method="POST" action="/edit/<%= preference.studID %>/<%= preference.Pnum %>">
        
                <div class="mb-3">
                    <label for="univ" class="form-label">University ID</label>
                    <input type="text" name="univ" id="univ" class="form-control" placeholder="E025">
                </div>
                <div class="mb-3">
                    <label for="course" class="form-label">Course ID</label>
                    <input type="text" name="course" id="course" class="form-control" placeholder="c12">
                </div>
                
                <button class="btn btn-success">submit</button>
            </form>
        </div>
    </div>
    
    <div  id="back" >
            <a href="/optionEntry/<%= preference.studID %>" class="btn btn-primary">Back</a>
            <a href="/" class="btn btn-danger">LOG OUT</a>
    </div>

</div>



<%- include('partials/footer') %>